---
import '@/styles/components/postlist.css'

import { Icon } from 'astro-icon'
import BaseLayout from '@/layouts/BaseLayout.astro'

import { CollectionEntry, getCollection } from 'astro:content'
import { format } from 'date-fns'

import { SITE } from '@/config'

import type { GetStaticPaths, Page } from 'astro'

interface Props {
  page: Page<CollectionEntry<'posts'>>
}

export const getStaticPaths = (async ({ paginate }) => {
  //  过滤草稿，按日期排序
  const posts = (await getCollection('posts', ({ data }) => !data.draft)).sort(
    (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
  )

  return paginate(posts, { pageSize: SITE.postPerPage })
}) satisfies GetStaticPaths

const { page } = Astro.props
---

<BaseLayout>
  <section class="postlist">
    <ul>
      {
        page.data.map(({ slug, data }) => {
          return (
            <>
              <li class="postlist__item ">
                <h3 class="postslist__heading">
                  <a href={`/posts/${slug}`}>{data.title}</a>
                </h3>
                <div class="postlist__meta">
                  <time>{format(new Date(data.pubDate), 'do MMMM, yyyy')}</time>
                  <span> ⋅ </span>
                  <span>{data.author}</span>
                </div>
                <p class="postlist__excerpt">{data.description}</p>
              </li>
            </>
          )
        })
      }
    </ul>
    <nav class="grid grid-cols-2 py-12 text-sm sm:text-base">
      {
        page.url.prev && (
          <a
            class=" flex items-center justify-self-start "
            href={page.url.prev}>
            <Icon width="20" height="20" name="tabler:chevron-left" />
            <span>Prev</span>
          </a>
        )
      }
      {
        page.url.next && (
          <a class="flex items-center justify-self-end" href={page.url.next}>
            <span>Next</span>
            <Icon width="20" height="20" name="tabler:chevron-right" />
          </a>
        )
      }
    </nav>
  </section>
</BaseLayout>
